*{margin: 0; padding: 0; box-sizing: border-box;}

body {
  background-color:#F0F2F5;
  width: 100%;
}

/*--------------HEADER------------------*/

:root {
  --color-light-black: #0000000b;
  --color-med-light-black: #00000015;
  --color-med-gray:rgba(0, 0, 0, 0.584);
}

header {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
  height: 56px;
  box-shadow: 0px 7px 8px -7px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
}
.container {
  display: flex;
  align-items: center;
  margin-left: .4rem;
  padding-left: .4rem;
 }

 .facebook-logo {
  width: 100%;
  max-width: 48px;
  cursor: pointer;
  margin-right: .2em;
 }

 .search-bar {
  display: flex;
  align-items: center;
  width: max-content;
  background-color: #F0F2F5;
  border-radius: 1.5rem;
  padding-block: 1.5px;
 }

 .search-bar svg {
  max-width: 15px;
  max-height: 15px;
  margin-left: .9em;
  margin-top: 4px;
 }

input[type='search'] {
  font-size: .9rem;
  flex: 1;
  border-radius: 1.5rem;
  background-color: transparent;
  outline: none;
  border: none;
  padding-block: .7rem;
  padding-right: 3.2rem;
  padding-left: .5em;
}

/*-------NAV ICON--------*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.mid-nav a {
  width: 100%;
  padding-left: 48px;
  padding-right: 48px;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
  padding-block: 10px;
  margin-top: 1rem;
}



.mid-nav a:hover {
  background-color: #f7f8f8;
  border-radius: .5em;
}

.active svg {
  fill: #0866ff;
  stroke: white;
}

.active {
  border-bottom: 3px solid #0866ff;
}

.mid-nav a:first-child {
  margin-left: 0;
}

.middle {
  /* flex: 1 1 30%; */
  padding-right: 110px ;
  padding-left: 170px;
}

.right-nav {
  margin-left: 135px;
  padding-left: 20px;
  margin-right: 30px;
}

.right-nav .icon {
  max-width: 24px;
}


.icon {
  width: 32px;
  display: block;
}

.profile-image {
  width: 40px;
  height: 40px;
  display: block;
  object-fit: cover;
  border-radius: 50%;
  margin-left: .5em;
}
.left-sidebar-image {
  width: 35px;
  height: 35px;
  display: block;
  object-fit: cover;
  border-radius: 20%;
  margin-left: .5em;
}

.right-icon-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #E4e6EB;
  border-radius: 50%;
  margin-left: .5em;
}

.right-icon-container:hover {
  background-color: #cbcbcbad;
}

/*-------TOOLTIP----------------  */

.tooltip {
  position: relative;
  display: inline-block;
  border: 1px solid black;
}

.tooltip p {
  visibility: hidden;
  width:100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
}

.home-link:hover .home-tooltip {
  visibility: visible;
} 
.tv-link:hover .tv-tooltip {
  visibility: visible;
} 
.market-link:hover .market-tooltip {
  visibility: visible;
} 
.people-link:hover .people-tooltip {
  visibility: visible;
} 
.game-link:hover .game-tooltip {
  visibility: visible;
} 

/*---------MAIN PART------------*/

main {
  margin-right: 360px;
  margin-top: 56px;
  margin-left: 360px;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.left-sidebar {
  flex: 1 1;
  width: 360px;
  margin-left: .6em;
  position: fixed;
  left: 0;
  max-height: 100%;
}

.main-part {
  display: flex;
  flex: 1 1 1000px;
  align-items: center;
  flex-direction: column;
  margin-right: 1rem;
}

.right-sidebar {
  flex: 1 1;
  min-width: 360px;
  overflow-y: scroll;
  max-height: 100%;
  margin-top: .5rem;
  position: fixed;
  right:0;
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

/* ------------LEFT-SIDEBAR-TAB-------------- */

.top-left-sidebar a {
  text-decoration: none;
}

.top-left-sidebar {
  margin-top: .9em;
  padding-bottom: .5em;
  position: relative;
}

.last::after {
  content: "";
  position: absolute;
  left    : 5px;
  bottom  : -5px;
  height  : 1px;
  width   : 90%; 
  border-bottom:2px solid var(--color-med-light-black);
}

.top-left-sidebar-tab {
  position: relative;
  display: flex;
  align-items: center;
  padding-block: .65em;
  border-radius: .5em;
}

.top-left-sidebar-tab:hover {
  background-color: var(--color-light-black);
}

.top-left-sidebar-tab p {
  margin-left: 1em;
  font-size: .9rem;
  color: black;
}

.top-left-sidebar-tab h4 {
  margin-left: .8em;
  font-size: 1rem;
  color: black;
}

.top-left-sidebar-tab .profile-image {
  max-width: 36px;
  max-height: 36px;
}

.top-left-sidebar-tab svg {
  margin-left: .5em;
  max-width: 30px;
}

.bottom-left-sidebar-title {
  margin-top: .8rem;
  margin-left: .5rem;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.589);
  font-size: 1.05rem
}

.left-sidebar-edit {
  color: #0866ff;
  position: absolute;
  top:-44px;
  right: 25px;
  font-size: 1rem;
  display: none;
  padding-block: .5rem;
  padding-inline: .5rem;
}

.left-sidebar-edit:hover {
  padding-block: .5rem;
  padding-inline: .5rem;
  border-radius: .2rem;
  background-color: rgba(0, 0, 0, 0.092);
  cursor: pointer;
}

.bottom-left-sidebar:hover .left-sidebar-edit {
  display: block;
}

.see-more-arrow {
  min-width: 36px;
  min-height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-med-light-black);
  margin-left: .5em;
}

.see-more-arrow svg {
  width: 60%;
  max-width: 34px;
  margin: 0;
}

.copyright-section {
  padding-inline: .6rem;
  margin-top: 2rem;
}

.copyright-section svg {
  max-width: 10px;
}

.copyright-section a {
  text-decoration: none;
  font-size: .8rem;
  color: var(--color-med-gray);
}

.copyright-section a:hover {
  text-decoration: underline;
}

/*----------------------RIGHT-BAR-------------------------*/

.right-bar {
  position: absolute;
  left: 35px;
  top: 35px;
  width: 10px;
  height: 10px;
  background-color: #31a24c;
  border: 2px solid white;
  border-radius: 50%;
  margin: auto;
}

.ads-part {
  max-width: 328px;
  margin-top: .8rem;
  padding-bottom: .5rem;
  position: relative;
  /* margin-inline: .5rem; */
}

.ads-part::after {
  content: "";
  position: absolute;
  left    : 0px;
  bottom  : 0;
  height  : 1px;
  width   : 110%; 
  border-bottom:2px solid var(--color-med-light-black);
}


.ads-part-title {
  margin-bottom: .5rem;
  color: var(--color-med-gray);
}

.ads-content {
  display: flex;
  align-items: center;
  padding-block: .5rem;
  word-wrap: break-word;
  width: 100%;
}

.ads-content:hover {
  background-color: var(--color-light-black);
  border-radius: 10px;
}

.ads-content img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  /* margin-left: .5rem; */
}

.ads-text {
  margin-left: .7rem;
  width: 50%;
}

.ads-text p {
  font-size: .8rem;
}

.page-profile-title {
  color: var(--color-med-gray);
  margin-left: .2rem;
  margin-top: .5rem;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.threedot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 1rem;
  /* margin-top: .5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.threedot:hover {
  background-color: var(--color-med-light-black);
}

.threedot svg {
  width: 20px;
}

.three-dot {
  margin-right: .5rem;
}

.cross-mark {
  margin-right: .2rem;
}

.right-sidebar-tab {
  position: relative;
  display: flex;
  align-items: center;
  padding-block: .7rem;
  flex: 1;
  border-radius: .5em;
  margin-left: .5rem;
  padding-inline: 1.2rem;
}

.right-sidebar-tab:hover {
  background-color: var(--color-light-black);
}

.right-sidebar-tab p {
  margin-left: .4rem;
  color: var(--color-med-gray);
  font-size: .9rem;
  font-weight: bold;
}

.right-sidebar-tab svg {
  max-width: 18px;
  max-height: 18px;
}



/* ------------------------------MAIN-CONTENT-------------------------- */

.add-story-button div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(223, 238, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-left: .5rem;
}

.add-story-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.add-story-button div:hover {
  background-color: rgb(207, 226, 240);
}

.plus-sign-in-button svg {
  width: 20px;
}

.story-box {
  width: 680px;
  background-color: white;
  display: flex;
  padding-block: 1rem;
  border-radius: .5rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.story-title {
  margin-left: .5rem;
}

.status-box {
  width: 680px;
  background-color: white;
  height: 123px;
  margin-top: 8px;
  padding-block: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: .5rem;
}

.status-profile-button {
  display: flex;
  margin-bottom: .2rem;
}

.status-profile-button button {
  width: 600px;
  height: 40px;
  border-radius: 15px;
  border: none;
  outline: none;
  text-align: left;
  padding-inline: 12px;
  padding-block: 8px;
  margin-bottom: 10px;
  margin-inline: 8px;
  font-size: 1rem;
  color: var(--color-med-gray);
  font-weight: bold;
  cursor: pointer;
}

.status-profile-button button:hover {
  filter: brightness(95%);
}

.status-box-tag {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  margin-top: .5rem;
  padding-block: .5rem;
}

.status-box-tag:hover {
  background-color: var(--color-med-light-black);
  cursor: pointer;
  border-radius: 10px;
}

.status-box .profile-image {
  margin-left: 15px;
}

.status-box .profile-image:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.below-status-box {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--color-med-light-black);
  margin-inline: 1rem;
}

.status-box-tag svg {
  max-width: 25px;
  max-height: 25px;
}

/* CONTENT PART */

.content {
  width: 680px;
  background-color: white;
  margin-block: .5rem;
  border-radius: 10px;
}

.content span {
  color: #050505;
  font-weight: bold;
  cursor: pointer;
}

.content span:hover {
  text-decoration: underline;
}

.profile-page {
  display: flex;
  padding-block: .8rem;
  padding-inline: 1rem;
  justify-content: space-between;
}

.profile-page-container {
  display: flex;
}

.profile-page-svg-container {
  display: flex;
}

.profile-page-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-page-image:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.profile-page-tag {
  display: flex;
  flex-direction: column;
  /* margin-top: 4px; */
  margin-left: .4rem;
}

.profile-page-tag h4:hover {
  text-decoration: underline;
  cursor: pointer;
}

.page-content-status {
  display: flex;
  align-items: center;
  font-size: .8rem;
  color: var(--color-med-gray);
}

.profile-page-tag svg {
  width: 12px;
  height: 12px;
  fill: var(--color-med-gray);
  margin-left: .2rem;
}

.page-context {
  padding-inline: 1rem;
  margin-bottom: .5rem;
}
.page-context a:hover {
  text-decoration: underline;
}

.page-context pre {
  font-size: 1rem;
}

.content-image {
  width: 100%;
  height: 586px;
  background-color: black;
  display: flex;
  justify-content: center;
}

.crop-image {
  width: 90%;
  height: 100%;
  margin: auto;
}

.stack-image {
  display: flex;
  width: 100%;
  max-height: 586px;
}

.first-col img {
  height: 50%;
  border: 0.5px solid white;
}

.second-col img {
  height: 33.3%;
  object-fit: cover;
  border: 0.5px solid white;
}

.first-col,
.second-col {
  width: 50%;
}

.first-col img, 
.second-col img {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.last-stack-img {
  position: relative;
}

.last-stack-img img{
  filter: brightness(70%);
}

.last-stack-img p{
  position: absolute;
  top: 70px;
  color: white;
  font-size: 2.5rem;
  right: 50%;
  left: 45%;
  z-index: 1;
}

.headline-content {
  width: 100%;
  height: 586px;
  background-color:#f5c7c7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  text-align: center;
}

.headline-content a {
  color: black;
}

.status-and-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.149);
}

.status-and-comment svg {
  width: 18px;
  height: 18px;
}

.content-status {
  margin-inline: 1rem;
  
}

.content-status p {
  color: var(--color-med-gray);
}

.content-status p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.comment-and-share {
  display: flex;
  padding-block: .6rem;
}

.comment {
  margin-right: .5rem;
}

.like-and-share-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-and-share-section svg {
  width: 20px;
  height: 20px;
}

.like-and-share-box {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-inline: .8rem;
  padding-block: .5rem;
  margin-block: .2rem;
}

.like-and-share-box:hover {
  background-color: var(--color-med-light-black);
  cursor: pointer;
  border-radius: 10px;
}
